body {
  font-size: 2.5em;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "head" "nav" "main" "aside" "foot";
  
  background-image: url("flagbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

header, .main, .photo,.food, .contact, aside, footer {
  text-align: center;
}
.logo {
  display: block;
  height: auto;
  float: left;
  max-width: 10%; /* Adjust the value to your preferred max width */
}
header {
  background: #002868;
  grid-area: head;
  color: white;
  text-align: center;
  
}
.video {
  border: 1vw solid #3498db; /* Add a border relative to viewport width */
  border-radius: 1vw; /* Add rounded corners relative to viewport width */
  box-shadow: 1vw 1vh 2vw #888888;
}
.image {
  border: 2vw solid #3498db; /* Add a border relative to viewport width */
  border-radius: 2vw; /* Add rounded corners relative to viewport width */
  box-shadow: 1vw 1vh 2vw #888888;
  max-width: 100%;
  height: auto;
  font-size: medium;
}
.images {
  max-width: 100%;
  height: auto;
}
.hp {

  font-size: large;
}
nav {
  grid-area: nav;
  background: #ce1126;
}

.home {
  background: #68bfe5;
  display: block;
  text-align: center;
  padding: 1em;
}

.food {
  background: #68bfe5;
  display: none;
  padding: 1em;
}
.photo {
  background: #68bfe5;
  display: none;
  padding: 1em;
}

.contact {
  background: #68bfe5;
  display: none;
  padding: 1em;
}

aside {
  background: #ce1126;
  grid-area: aside;
  color: white;
  font-size: medium;
  text-align: left;
}
main {
  grid-area: main;}

footer {
  background: #002868;
  grid-area: foot;
}

/* Nav Bar Style */
nav ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: .5em;
  color: white;
}

nav li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: left;
}

li a:hover {
  color: #ce1126;
  background-color: #002868;
}



/*Desktop View*/
@media all and (min-width: 800px) {
  body{
    grid-template-columns: 15vw auto 15vw;
    grid-template-rows: 10vh auto 10vh auto;
    grid-template-areas: "head head head" "nav main aside" "foot foot foot";
  }
}

/*Tablet View*/
@media all and (min-width: 600px) and (max-width: 799px) {
  body{
    grid-template-columns: 20vw auto;
    grid-template-rows: 10vh 1fr 1fr 10vh ;
    grid-template-areas: "head head" "nav main" "aside main" "foot foot";
  }
}

p {
  font-size: medium;
}
.photo-block {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.photo-block img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fits within the container */
}
.photo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
